.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 200px;
    max-height: 400px;
}

#display {
    box-sizing: border-box;
    height: 50px;
    width: 200px;
    border-style: solid;
    border-width: 0.1;
    border-color: grey;
    text-align: right;
}

.inputs {
    display: flex;
    flex-direction: row;
}

.numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.operators {
    display: flex;
    flex-direction: column;
}

button {
    box-sizing: border-box;
    min-height: 50px;
    min-width: 50px;
    border-style: solid;
    border-width: 0.1;
    border-color: grey;
    flex: auto;
}